* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Mooli', sans-serif;
}

:root{
    --bodyText : #C23028;
    --header : #77021D;
    --body : #F6B339;
    --headerText : #DA7B27;
    --other : #D7572B;
}

header {
    background-color: var(--header);
    color: var(--headerText);
    font-size: 35px;
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
}

footer {
    background-color: var(--header);
    color: var(--headerText);
    position: fixed;
    bottom: 0;
}

#time{
    font-size: 50px;
    margin: 30px;
}

#numberWork, #numberBreak{
    margin-right: 50px;
}

main {
    background-color: var(--body);
    color: var(--bodyText);
    font-size: 15px;
    position: fixed;
    width: 100%;
    height: calc(100% - 100px);
    top: 50px;
}

aside{
    padding: 25px;
}

progress{
    position: fixed;
    background-color: var(--header);
    color: var(--headerText);
    height: 50px;
    width: 100%;
    bottom: 0;
    left: 0;
}

button{
    width  : 50px;
    height : 50px;
}